.idea

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.nupkg
/Source/**/bin/**/*
/Source/**/obj/**/*
/Source/**/packages/**/*
/Source/Actions/*/scripts/**/*
/Source/Commomn/*/scripts/**/*
/Source/Actions/Microsoft.Deployment.Actions.Test/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.SQL/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.OnPremise/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.Custom/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.Common/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.AzureCustom/StyleCop.Cache
/Source/Actions/Microsoft.Deployment.Actions.ADF/StyleCop.Cache
*.suo
**/*/.vs/**/*
**/*/jspm_packages/**/*
/Source/Site/Microsoft.Deployment.Site.Web/node_modules
/Source/Site/Microsoft.Deployment.Site.Web/wwwroot/dist
*.coverage
/Source/Actions/.vs/config/applicationhost.config
/Source/Apps/Microsoft/Released/Microsoft-SCCMTemplate/Resources/SCCM_Sample.pbix
*.dg
*.wixpdb
/Source/Apps/Microsoft/Released/Microsoft-SCCMTemplate/Microsoft-SCCMTemplate.exe
/Source/Apps/Microsoft/Released/Microsoft-SCCMTemplate/Microsoft-SCCMTemplate.msi
*.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
*.vspscc
/Source/Apps/Microsoft/Released/Microsoft-SapAccountsReceivable/Microsoft-SapAccountsReceivable.exe
/Private
/Source/Site/Microsoft.Deployment.Site.Web/typings
/Source/Site/Microsoft.Deployment.Site.Web/wwwroot/config.js
/Source/Site/UpgradeLog.htm
/Source/Site/Microsoft.Deployment.Site.Service/PartnerServiceWSDL/partner.xml
/Source/Apps/Test/TemplateApps/Microsoft-NewsTemplateTest/v1.txt
/Source/Apps/Test/TemplateApps/Microsoft-NewsTemplateTest/v2.txt
/.vs
/Source/Apps/Microsoft/Released/Microsoft-TwitterTemplate/Service/PowerApp
/Source/Apps/Microsoft/Released/Simplement-SAP-ARTemplate/Simplement-SAP-ARTemplate.exe
/Source/Apps/Microsoft/Released/Simplement-SAP-ARTemplate/Simplement-SAP-ARTemplate.msi
/Source/Apps/Microsoft/Released/Microsoft-SCCM2/Microsoft-SCCM2.exe
/Source/Apps/Microsoft/Released/Microsoft-SCCM2/Microsoft-SCCM2.msi
/Source/Apps/Microsoft/Released/Microsoft-SCCMTemplate/Service/Database/NoETL/80 SSAS.sql
